body {
    background-color: rgba(158, 212, 253, 0.942);
}

input {
    width: 25%;
    font-size: 100%;
    padding: 20px;
    margin-left: 50px;
}

h1 {
    color: black;
    text-align: center;
    border: 3px solid black;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin: 50px
}

h2 {
    color: black;
    text-align: center;
}

h1,h2 {
    background-color: rgba(56, 206, 206, 0.823);
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border: 3px solid black;
}

h3 {
    padding: 20px;
    margin-left: 100px;
    margin-right: 50px;
    border-bottom: dashed gray 6px;
}

h4 {
    padding: 20px;
    margin-left: 100px;
    margin-right: 50px;
    border-bottom: dashed gray 3px;
}

p#name,
p#mail,
p#passward{
    padding: 20px;
    margin-left: 40px;
    margin-right: 50px;
}

p#p , ul , ol{
    padding: 15px;
    margin-left: 100px;
    margin-right: 50px;
}

li {
    margin-left: 15px;
}

p#kazuate.yoso1,
p#kazuate.yoso2,
p#kazuate.yoso3 {
    padding: 15px;
    margin-left: 100px;
    margin-right: 50px;
}

blockquote {
    padding: 20px;
    margin-left: 40px;
    margin-right: 50px;
}
